{% extends "layout.html" %}
{% block content %}
<h1> Welcome to PlagR </h1>
    <body>
    <br>
    <h4>Use any of the links at the top of the screen to access the functions of PlagR.</h4>

    <p>The Home page link will return you to this page each time it is used.</p>

    <p>The Pairwise Comparison page link will take you to the Pairwise Comparison function each time it is used.</p>

    <p>The Stylometric Clustering page link will take you to the Stylometric Clustering function each time it is used.</p>

    </body>
{% endblock content %}